# Numerous always-ignore extensions
*.diff
*.err
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
public

# VSC Workspace
*.code-workspace

# Procrastination
.procrastination

# NodeJS
_site/
node_modules/
npm-debug.log
